<div class="text-center">
  <div class="flex flex-col border-2  justify-center bg-yellow-400">
    <h2 class="text-center text-white bg-yellow-400 py-8">Locations</h2>
    <!-- <div  class="flex flex-wrap"> -->
    <ul>
      <li *ngFor="let item of localizacion" class="m-5 content-center ">
        <p class=" m-8  text-2xl text-white">{{item.name}}</p>
        <p>{{item.type}}</p>
        <p>{{ item.dimension }}</p>
        <p>{{ item.created }}</p>
        <div class="py-2 px-8 mx-10 mt-4">
          <a [routerLink]="['/location', item.id]">
            Ver Mas
          </a>
        </div>
      </li>
    </ul>

    <!-- </div> -->
  </div>
</div>