<div class="text-center bg-yellow-400">
    <div fxflex="20" class="favoritos static" fxLayoutAlign="center">
        <button [matMenuTriggerFor]="menu">
            <span class="mr-2">Personajes Favoritos</span>
            <span
                class="inline-flex items-center justify-center px-2 py-1 text-xl font-bold leading-none text-green-200">{{cont}}</span>
        </button>
        <mat-menu #menu="matMenu">
            <div *ngFor="let list of lista" fxLayout="row" fxLayoutAlign=" center">
                <div mat-menu-item class="menuiz" routerLink="/characters/{{list.id}}"> {{list.name}}</div>
                <div class="menuder">
                    <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon"
                        (click)="eliminar(list.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                    </button>
                </div>
            </div>
        </mat-menu>
    </div>
    <h2 class="text-center text-green-800   py-8">Personajes</h2>
    <ul class="flex flex-wrap     text-white justify-center">
        <!-- <div  class="flex flex-wrap"> -->
        <li *ngFor="let item of characters">
            <a (click)="favoritocont(item.id)">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                    </svg>
                </button>
            </a>
            <app-card [item]="item"></app-card>
        </li>
        <!-- </div> -->
    </ul>
</div>