.text-center
{
    text-align: center;
}

.letra5x1
{
    font-size: 3rem;
    line-height: 1;
}

.shadow-2xl
{
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bg-green-500 {
    --tw-bg-opacity: 1;
background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
}

.text-white
{
    --tw-text-opacity: 1;
color: rgba(255, 255, 255, var(--tw-text-opacity));
}